@use "../../../colors/colors" as *;

.container {
   width:100%;
}

.container h1 {
   text-transform: uppercase;
   font-size: 48px;
   font-weight: $semiBold;
   padding:50px;
   background-color: $dark1;
   color: $font-white;
   border-radius:16px;
}