@use "../../../colors/colors" as *;

.container {
  width: 100%;
  max-width: 430px;
  // height: 404px;

}

.header {
  padding: 40px;
  background-color: $dark1;
    border-radius: 14px 14px 0 0;

}


.container h2 {
  font-size: 30px;
  color: $font-white;
  font-weight: $medium;
  text-transform: uppercase;
  line-height: 1.5;

}


.container p {
  color: $dark3;
  font-size: 18px;
  font-weight: $regular;
  line-height: 1.5;
}