@use "../../../colors/colors" as *;

.container {
  width: 100%;
}

.left {
  max-width: 1054px;
  width: 100%;
}

.min {
  padding: 40px 60px;
  background-color: $dark1;
  border-radius: 16px;
}

.min h3 {
  max-width: 832px;
  ;
  width: 100%;
  border-bottom: 1px solid $dark5;
  padding-bottom: 20px;
  color: $font-white;
  font-weight: $medium;
  font-size: 22px;
}

.min p {
  max-width: 832px;
  ;
  width: 100%;
  font-size: 18px;
  color: $dark3;
  opacity: 0.75;
}

.right {
  max-width: 746px;
  background-color: $dark1;
  border-radius: 14px;
  padding: 60px;
  width: 100%;
}

.right h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: $medium;
  color: $font-white;
  padding-bottom: 70px;
  border-bottom: 1px solid $dark5;
}

.right p {
  font-size: 18px;
  color: $font-white;
}

.right input,
.right textarea {
  width: 100%;
  background-color: $dark06;
  padding: 24px;
  border-radius: 10px;
}

.right textarea {
  height: 172px;
  resize:none;
}


.button {
  background-color: $orange;
  color: $dark1;
  width: 100%;
  padding: 20px 0;
  border-radius: 12px;
  font-size: 18px;
}