@use "../../../colors/colors" as *;

.service  h2{
   font-size:30px;
   font-weight: $medium;
   color:$font-white;
}

.card{
   width:100%;
   height:395px;
   padding:80px;
   background-color: $dark1;
}

.card p {
   color:$dark3;
   font-size:18px;
}

.card h3{
   font-size: 30px;
   font-weight: $medium;
   color:$font-white;
   align-self: flex-end;
}