// Dark 

$dark1:#1A1A1A; // dark10

$dark2:#676665; // gray40

$dark3:#B3B3B2; // gray70

$dark3: #81807E; // gray50


// White

$font-white:#F9EFEC; // orange95




// Brown

$skin: #E7BEB1;

// Weight


$thin :100;

$extraLight : 200;

$light :300;

$regular : 400;

$medium : 500;

$semiBold : 600;

$bold : 700;

$extraBold :800;

$black :900;

