// Dark 

$dark1:#ffffff;

$dark3: #81807E; // gray50


// White

$font-white:#F9EFEC;




// Brown

$skin: #E7BEB1;


// Weight


$thin :100;

$extraLight : 200;

$light :300;

$regular : 400;

$medium : 500;

$semiBold : 600;

$bold : 700;

$extraBold :800;

$black :900;

