// Dark

$dark1: #1a1a1a; // dark10

$dark2: #676665; // gray40

$dark3: #b3b3b2; // gray70

$dark3: #81807e; // gray50

$dark4: #1f1f1f; // dark12

// White

$font-white: #f9efec; // orange95

$font-gray: #e6e6e6; // gray90

$font-orange: #da9e8b; // orange70

// Brown

$orange: #ce7d63; // orange60

$skin: #e7beb1;

// Weight

$thin: 100;

$extraLight: 200;

$light: 300;

$regular: 400;

$medium: 500;

$semiBold: 600;

$bold: 700;

$extraBold: 800;

$black: 900;
