.body {
   background-color: black;
   font-family: var(--font-roboto), sans-serif;
   text-transform: capitalize;

   // max-width: calc(1920px - var(--scrollbar-width));
   overflow: hidden;

}

* {
   text-decoration: none;

   box-sizing: border-box;
}