@use "../../../colors/colors" as *;

.header {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 30px;
   align-self: center;
}

.headerBox {
  width: 1820px;
  background: #1a1a1a;
  border-radius: 16px;
  border: 0px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 24px 50px;
  box-sizing: border-box;
}

.logoBox {
  width: 130px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.logoBox img {
  object-fit: contain;
}

.logoText {
  color: #e8dfd6;
  font-size: 20px;
}

/* Button / Menu container */
.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 945px;
  height: 63px;
  gap: 16px;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu a {
  padding: 18px 24px;
  border-radius: 12px;
  background-color: #0f0f0f;
  align-items: center;
  justify-content: center;
  color: $dark3;

  font-size: 16px;

  transition: background 0.2s;

   &:hover {
      background-color: #ef764e;
      color: $font-white;
   }
}


.menu li:last-child a {
   background-color: #CE7D63;
   color: #0F0F0F;
   font-size: 16px;

   &:hover {
      background-color: #ef764e;
      color: $font-white;
   }

}
