@use "../../../colors/colors" as *;

.container {
  width: 100%;
  max-width: 364px;
  height: 337px;
  background-color: $dark1;
  padding: 40px;
  border-radius: 14px;
}

.container h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: $medium;
  color: $font-white;
}

.container p {
  color: $dark3;
  line-height: 1.5;
  font-size: 18px;
}